[submodule "comficurryapis"]
	path = comficurryapis
	url = https://github.com/COMFICURRY/comficurryapi.git
[submodule "comficurryaaminapps"]
	path = comficurryaaminapps
	url = https://github.com/COMFICURRY/comficurryaaminapp.git
[submodule "comficurryaaminapp"]
	path = comficurryaaminapp
	url = https://github.com/COMFICURRY/comficurryaaminapp.git
[submodule "comficurryapi"]
	path = comficurryapi
	url = https://github.com/COMFICURRY/comficurryapi.git
